<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYHLmSSsz0cLJFLgblSrIrzHU4wK4s2Ac</string>
	<key>GCM_SENDER_ID</key>
	<string>786392090162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michihidesugito.CardGameEndview</string>
	<key>PROJECT_ID</key>
	<string>endview-d0ab4</string>
	<key>STORAGE_BUCKET</key>
	<string>endview-d0ab4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786392090162:ios:fc57b13f767f149ceb9e2b</string>
</dict>
</plist>